<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>AUTENTICACIÓN</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <div class="form">
            <mat-form-field>
                <mat-label>PRECIO: </mat-label>
                <input matInput type="number" #precio>
              </mat-form-field>
        </div>        
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-raised-button >CALCULAR</button>
    </mat-card-actions>
    <h1>Total: </h1>
  </mat-card>     
