<mat-toolbar color="accent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span (click)="irHome()">App T2-LIMAY-GALLO-ENZO</span>
    &nbsp;&nbsp;
    <button mat-button (click)="irPre02()">Pregunta 02</button>
    &nbsp;&nbsp;
    <button mat-button (click)="irPre03()">Pregunta 03</button>
    &nbsp;&nbsp;
    <button mat-button (click)="irPre04()">Pregunta 04</button>
  
    <button mat-icon-button
    (click)="salir()"
     class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  
  <hr />
  <router-outlet></router-outlet>
